html, body, .container{
	height: 100%;
}

.container {
	/*background: #dcdcdc;*/
	width: 960px;	
}

.wrap{
	height: 150px;
}

#img-logo{
	float: left;
	padding-top: 10px;
	width: 280px;
	height: 82px;
}

.container .logo form{
	width: 280px;
	position: relative;
	top: -50px;
	left: 685px;
}

.container .logo form input{
	width: 176px;
	float: left;
}

.logo {
	border-bottom: 2px solid #e4e8ed;	
	height: 150px;	
	position: absolute;
	width: 960px;
	background-image: url('../images/logo-background.png');
	background-repeat: repeat-x repeat-y;
}

.logo h1 {
	position: relative;
	top: -37px;
	right: -4px;
}

.logo a.btn {
	position: relative;
	top: -90px;
	left: 835px;
}

.dialogs {
	min-height: 100%;
	float: left;
	padding: 0 !important;
}

.users {
	height: 100%;
	float: left;
}

.content{
	min-height: 100%;
	padding-top: 150px;
	border-left: 2px solid #e4e8ed;	
	border-right: 2px solid #e4e8ed;
	background: url('../images/content-background-line.png') repeat-y;
}

.content .users ul {
	list-style-type: none;
	margin: 10px 0 0 0;
	padding: 0;
}

.content .users ul li {
	/*margin-bottom: 10px;*/
	font-size: 1.5em;
	cursor: pointer;
}

.content .users ul li:hover{
 background: #F5F5F5;
}

.content .users ul li img{
	padding: 3px 10px 3px 3px;
}

.dialog {
	/*border: 1px solid #e4e8ed;*/
	/*margin-top: 10px;*/
	border-bottom: 2px solid #e4e8ed;
/*	border-radius: 15px;*/
}

.dialog table {
	margin: 0 !important;
}

.dialog td.dialogs-photo {
	width: 50px;
}

.dialog td.dialogs-info {
	width: 200px;
}

.dialog tr {
	cursor: pointer;
}
.dialog td {
	vertical-align: middle !important;
	border-top: none !important;

}

.dialogs-message-image>img {
	margin-right: 10px;
	float: left;
}

div.dialog-message-body{
	padding-top: 10px;
	overflow: hidden;	
}

.dialogs-info-date {
	font-size: .8em
}

tr {
	background-color: #fff !important; /*#f9f9f9*/
}

tr:hover {
	background-color: #F5F5F5 !important; /*#f9f9f9*/
}





/***************DIALOGS***************/

.dialogs-with-users {
	height: 30px;
	padding: 0;
	margin: 0;
	border-bottom: 2px solid #e4e8ed;
	cursor: pointer;
	overflow: hidden;
}

.dialogs-with-users>ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 0; /*backspaces between li*/
}

.dialogs-with-users>ul>li {
	height: 30px;
	display: inline-block;
}

.dialogs-with-users>ul>li h4 {
	padding: 0;
	margin: 5px 10px;	
	float: left;	
}

.dialogs-user-close{
	float: left;
	margin-right: 5px;
}

.dialogs-with-users>ul>li.dialog-active {
	background-color: #e5e4e4;
}

.dialogs-with-users>ul>li:hover {
	background-color: #F5F5F5;
}
























