html, body, .container{
	height: 100%;
}

.container {
	/*background: #dcdcdc;*/
	width: 960px;	
}

.wrap{
	height: 150px;
}

#img-logo{
	float: left;
	padding-top: 10px;
	width: 280px;
	height: 82px;
}

.container .header form{
	width: 280px;
	position: relative;
	top: -50px;
	left: 685px;
}

.container .header form input{
	width: 176px;
	float: left;
}

.header {
	border-bottom: 2px solid #e4e8ed;	
	height: 150px;	
	position: absolute;
	width: 960px;
	background-image: url('../images/logo-background.png');
	background-repeat: repeat-x repeat-y;
}

.header h1 {
	position: relative;
	top: -37px;
	right: -4px;
}

.header a.btn {
	position: relative;
	top: -90px;
	left: 835px;
}

.wrapper {
	min-height: 100%;
	float: left;
	padding: 0 !important;
}

.right-column {
	height: 100%;
	float: left;
}

.content{
	min-height: 100%;
	padding-top: 150px;
	border-left: 2px solid #e4e8ed;	
	border-right: 2px solid #e4e8ed;
	background: url('../images/content-background-line.png') repeat-y;
}

.content .right-column ul {
	list-style-type: none;
	margin: 10px 0 0 0;
	padding: 0;
}

.content .right-column ul li {
	/*margin-bottom: 10px;*/
	font-size: 1.5em;
	cursor: pointer;
}

.content .right-column ul li:hover{
 background: #F5F5F5;
}

.content .right-column ul li img{
	margin: 3px 10px 3px 3px;
	width: 40px;
	height: 40px;
}



/*dialog*/
.dialog {
	border-bottom: 2px solid #e4e8ed;
	margin: 0 !important;	
	cursor: pointer;
	background-color: #fff !important; /*#f9f9f9*/	
	height: 100px;	
}


.dialog:hover {
	background-color: #F5F5F5 !important; /*#f9f9f9*/
}

.dialogs-photo {
	float: left;
}

.dialogs-photo img{
	margin: 10px;
}

.dialogs-info {
	width: 200px;
	float: left;
	padding: 8px;
}

.dialogs-msg-contents{
	padding-top: 28px;
}

.dialogs-message-image>img {
	margin-right: 10px;
	float: left;
	width: 40px;
	height: 40px;
}

.dialog-message-body{
	padding-top: 10px;
	overflow: hidden;	
}

.dialogs-info-date {
	font-size: .8em
}







/***************DIALOGS***************/

/*list of users*/
.dialogs-with-users {
	height: 30px;
	padding: 0;
	margin: 0;
	border-bottom: 2px solid #e4e8ed;
	cursor: pointer;
	overflow: hidden;
}

.dialogs-with-users>ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 0; /*backspaces between li*/
}

.dialogs-with-users>ul>li {
	height: 30px;
	display: inline-block;
	border-right: 2px solid #e4e8ed;
}

.dialogs-with-users>ul>li h4 {
	padding: 0;
	margin: 5px 20px;	
	float: left;	
}

.dialogs-user-close{
	float: left;
	margin-right: 5px;
}

.dialogs-with-users>ul>li.dialog-active {
	background-color: #e5e4e4;
}

.dialogs-with-users>ul>li:hover {
	background-color: #F5F5F5;
}


/*input message for dialog*/

#input-text {
	border-bottom: 2px solid #e4e8ed;
	border-top: 2px solid #e4e8ed;	
	background-color: #F5F5F5;
	height: 100px;
}


#it-user-holder img, #it-receiver-holder img{
	margin: 10px;
}

#it-user-holder, #it-write-form {
	float: left;
}

#input-text textarea {
	resize: none; 
	height: 55px; 
	width: 400px;
	float: left;
	margin-right: 10px;
}

#input-text a {
	margin-top: 17px; 
}

#it-receiver-holder img {
	padding-left: 5px;
}

#it-write-form {
	padding-top: 25px;
}


/*dialog whith user*/
#correspondence {
	height: 385px;
	overflow: auto;
	padding-top: 10px;
}

.message{
	margin-top: 10px;
	clear: both;
}

.message:last-child {
	margin-bottom: 10px;
}

.clear{
	clear: both;
}

.message-left-space{
	float: left;
	clear: left;
	width: 40px;
	height: 50px;
}

.message-author {
	float: left;
	padding-right:15px;
}

.message-author img{
	width: 40px;
	height: 40px;
}

.message-body {
	width: 500px;
	float: left;
}

.message-body-text {
	position: relative;
}

.message-time {
	width: 70px;
	font-size: .8em;
	float: left;
	clear: right;
}

.message-body-author-name a{
	color: #317EAC;
}


/*******************MESSAGE*********************/

#new-message {
	background-color: #F5F5F5;
	height: 517px;
}

#new-message h3{
	margin-top: 0;
	padding: 10px 50px;
}

#new-message h3 a{
	color: #317EAC;
	margin-left: 5px;
}

#new-message form {
	padding: 0 50px;
}

#new-message textarea {
	resize: none; 
	height: 400px; 
	margin-top: 10px;
}

#new-message form a {
	float: right;
	margin-top: 10px;
}
